@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.sample {
    color: blue;
}
.container {
    height: 80vh;
    background-color: gainsboro;
}
header {
    background-color: gray;
}

footer {
    background-color: gray;
}

body {
    font-family: "Inter", sans-serif;
}
