@tailwind base;

@layer base {
    html {
        @apply text-[#4f4f4f];
    }
    body {
        background-color: #f8f8f8;
        font-family: "Inter", sans-serif;
    }

    html.dark {
        @apply text-neutral-50;
        @apply bg-neutral-800;
    }
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.92);
}
.react-heart {
    fill: red;
}

.categoryUnselected {
    background-color: gray;
}
.categorySelected {
    background-color: #006634;
}

.ReqIconColor {
    fill: #006634;
}

@tailwind components;
@tailwind utilities;
